.navbar {
  background: #000000 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 0px 0px 10px 10px;
  opacity: 1;
  height: 2.5em;
}

.watchcast {
  font-size: x-large;
}

svg {
  color: white;
  position: absolute;
  right: 1em;
}

.settings {
  display: block;
  right: 0em;
  position: absolute;
  top: 1.5em;
  background-color: snow;
  border-style: outset;
  border-radius: 1em;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

ul {
  list-style-type: none;
}

.searchBar {
  top: 0%;
  position: absolute;
  left: 30%;
}

.search {
  width: 30em;
}

.searchButton {
  position: sticky;
}
