.login,
.register {
  background: #ffffffcc 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 2em;
  opacity: 1;
  position: sticky;
  text-align: center;
  top: 30%;
  right: 30%;
  left: 30%;
  width: 40%;
  height: auto;
}

.toRegister,
.toLogin {
  display: block;
}

.register {
  top: 18%;
}

@media only screen and (max-device-width: 420px) {
  .login,
  .register {
    left: 10%;
    width: 80%;
  }
}
