.videoPlayerPage {
  display: flex;
  flex-direction: row;
  padding: 5em;
}

.videoPlayer {
  width: 90%;
}

.player > video {
  border-style: inset;
}

.reactPlayer {
  width: 77%;
}

.sectionVideos {
  position: relative;
  left: 1em;
  margin-bottom: 1em;
}

.sectionVideos .videosLink {
  display: flex;
  padding: 1em;
  border-style: dashed;
  border-radius: 1em;
}

.sectionVideos .videosLink .videoImg {
  width: 4em;
  height: 100%;
}

.sectionVideos .videosLink .videoText > h1 {
  margin-left: 1em;
}

.videoDescription,
.sectionComment {
  margin-bottom: 2em;
}

.textComment {
  width: 93%;
  height: 2em;
}

.adButton {
  margin-left: 1em;
  width: 4em;
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
  font-size: 16px;
}

.adButton:hover {
  background-color: #4caf50; /* Green */
  color: white;
}

.comment {
  padding: 1em;
  box-shadow: inset 0 0 1em gold, 0 0 1em blue;
  border-radius: 1em;
  margin-top: 1em;
  margin-bottom: 3em;
}

.comment .user {
  display: flex;
  width: 100%;
}

.comment .user > h1 {
  width: 85%;
}

.comment .user > p {
  text-align: right;
}

.reactPlayer > hr {
  margin-bottom: 3em;
}

@media only screen and (max-device-width: 420px) {
  .videoPlayerPage {
    flex-direction: column;
    padding: 2em;
  }

  .videoPlayer,
  .videoDescription,
  .reactPlayer {
    width: 100%;
  }

  .reactPlayer {
    margin-bottom: 1em;
  }

  .textComment {
    width: 100%;
    height: 3em;
  }

  .adButton {
    margin-left: 0;
    margin-bottom: 1em;
  }

  .comment {
    margin-bottom: 2em;
  }

  .comment .user {
    flex-direction: column;
  }

  .comment .user > p {
    text-align: left;
  }

  .sectionVideos {
    right: 0;
    margin-right: auto;
    width: 90%;
  }

  /* .sectionVideos .videosLink {
    flex-direction: column;
  } */

  /* .sectionVideos .videosLink .videoImg {
    width: 100%;
    height: auto;
  } */

  /* .sectionVideos .videosLink .videosText > h1 {
    margin-left: 0;
  } */

}
